.Window {
  position: absolute;
  left: 20px;
  top: 20px;
  width: 100px;
  height: 100px;

  .frame {
    position: absolute;
    inset: -10px;
  }

  .innerView {
    position: relative;
    box-shadow:
      0 3px 10px hsla(0, 0%, 0%, 0.25),
      0 0 0 1px hsla(0, 0%, 0%, 0.1);
    border-radius: 5px;
    overflow: hidden;
    cursor: default;
  }
}

.top-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  cursor: nwse-resize;
}

.top-right {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  cursor: nesw-resize;
}

.bottom-right {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 20px;
  height: 20px;
  cursor: nwse-resize;
}

.bottom-left {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 20px;
  height: 20px;
  cursor: nesw-resize;
}

//

.top {
  position: absolute;
  top: 0;
  left: 20px;
  right: 20px;
  height: 20px;
  cursor: ns-resize;
}

.right {
  position: absolute;
  right: 0;
  top: 20px;
  bottom: 20px;
  width: 20px;
  cursor: ew-resize;
}

.bottom {
  position: absolute;
  bottom: 0;
  left: 20px;
  right: 20px;
  height: 20px;
  cursor: ns-resize;
}

.left {
  position: absolute;
  left: 0;
  top: 20px;
  bottom: 20px;
  width: 20px;
  cursor: ew-resize;
}
