.xxsmall {
  padding: 2.5px;
}

.xsmall {
  padding: 5px;
}

.small {
  padding: 10px;
}

.medium {
  padding: 15px;
}

.large {
  padding: 20px;
}

.xlarge {
  padding: 25px;
}

.xxlarge {
  padding: 30px;
}
