@value horizontal from "../view/View.module.scss";

.container {
  align-self: stretch;

  &.tiny {
    min-height: 2.5px;
  }

  &.xsmall {
    min-height: 5px;
  }

  &.small {
    min-height: 10px;
  }

  &.medium {
    min-height: 15px;
  }

  &.large {
    min-height: 25px;
  }

  &.xlarge {
    min-height: 30px;
  }
}

.horizontal > .container {
  &.tiny {
    min-width: 2.5px;
  }

  &.xsmall {
    min-width: 5px;
  }

  &.small {
    min-width: 10px;
  }

  &.medium {
    min-width: 15px;
  }

  &.large {
    min-width: 25px;
  }

  &.xlarge {
    min-width: 30px;
  }
}
