.App {
  height: 100vh;
}

.Placeholder {
  z-index: 1;
  /* height: 0; */
  min-height: 16px;
  min-width: 16px;
  align-self: stretch;
  justify-self: stretch;
}

.dragging .Placeholder {
  /* height: 16px; */
  /* margin-top: -8px; */
  /* margin-bottom: -8px; */
}
