.App {
  height: 100vh;
}

.Placeholder {
  position: relative;
  z-index: 1;
  height: 0;
  align-self: stretch;
  justify-self: stretch;
}

.dragging .Placeholder {
  height: 16px;
  margin-top: -8px;
  margin-bottom: -8px;
}

.dragging .Placeholder::after {
  position: absolute;
  content: '';
  inset: 0;
  height: 7px;
  border-bottom: 2px dotted hsla(0, 0%, 0%, 0.4);
}

.dragging .Placeholder.dragOver::after {
  position: absolute;
  content: '';
  inset: 0;
  height: 7px;
  border-bottom: 2px solid black;
}
