@import 'open-color';

:root {
  --primary-color: #{$oc-blue-5};
  --primary-color-light: #{$oc-blue-1};
  --primary-color-dark: #{$oc-blue-7};

  --primary-color-1: #{$oc-blue-1};
  --primary-color-2: #{$oc-blue-2};
  --primary-color-3: #{$oc-blue-3};
  --primary-color-4: #{$oc-blue-4};
  --primary-color-5: #{$oc-blue-5};
  --primary-color-6: #{$oc-blue-6};
  --primary-color-7: #{$oc-blue-7};
  --primary-color-8: #{$oc-blue-8};
  --primary-color-9: #{$oc-blue-9};
}

.App {
  min-height: 100vh;
  background: center / cover url(../public/images/d1e91a4058a8a1082da711095b4e0163.jpg);
}
