@import 'open-color';

:root {
  --primary-color: #{$oc-blue-5};
  --primary-color-light: #{$oc-blue-1};
  --primary-color-dark: #{$oc-blue-7};

  --primary-color-1: #{$oc-blue-1};
  --primary-color-2: #{$oc-blue-2};
  --primary-color-3: #{$oc-blue-3};
  --primary-color-4: #{$oc-blue-4};
  --primary-color-5: #{$oc-blue-5};
  --primary-color-6: #{$oc-blue-6};
  --primary-color-7: #{$oc-blue-7};
  --primary-color-8: #{$oc-blue-8};
  --primary-color-9: #{$oc-blue-9};
}

:root {
  --theme-content-color: white;
  --theme-panel-color: #{$oc-gray-1};
  --theme-divider-color: #{$oc-gray-3};
  --theme-text-color: #{$oc-gray-7};

  --theme-solid-button-normal-color: #{$oc-gray-3};
  --theme-hover-button-hover-color: hsla(210, 100%, 10%, 0.055);

  --theme-border-color: hsla(0, 0%, 0%, 0.075);
  --theme-image-divider-color: hsla(0, 0%, 0%, 0.11);
  --theme-drop-shadow:
    0 3px 10px hsla(0, 0%, 0%, 0.25),
    0 0 0 1px hsla(0, 0%, 0%, 0.1);
}

.dark {
  --theme-content-color: #{$oc-gray-9};
  --theme-panel-color: #{$oc-gray-8};
  --theme-divider-color: #{$oc-gray-7};
  --theme-text-color: #{$oc-gray-4};

  --theme-solid-button-normal-color: #{$oc-gray-7};
  --theme-hover-button-hover-color: hsla(210, 50%, 90%, 0.065);

  --theme-border-color: hsla(0, 0%, 100%, 0.075);
  --theme-image-divider-color: hsla(0, 0%, 100%, 0.15);
}

.App {
  min-height: 100vh;
  background: center / cover transparent;
}
