@import 'open-color';

:root {
  --primary-color: #{$oc-blue-5};
  --primary-color-light: #{$oc-blue-1};
  --primary-color-dark: #{$oc-blue-6};

  --primary-color-name: blue;
  --primary-color-level: 5;
}

.App {
  min-height: 100vh;
}
