@import 'open-color';

.outerScroll {
  position: relative;

  --top: 0;
  --height: 200px;
  
  &::after {
    content: '';
    position: absolute;
    background: $oc-blue-5;
    top: var(--top);
    right: 0;
    height: var(--height);
    width: 5px;
    margin: 0 0px;
  }

}

.scroll {
  display: grid;
  overflow: auto;
  position: relative;

  grid-template-columns: repeat(3, 1fr);
  gap: 5px 5px;

  &::-webkit-scrollbar {
    display: none;
  }

}
