@import 'open-color';

.container {
  border: none;
  outline: none;
  background: none;
  padding: 8px 16px;
  box-shadow: inset 0 0 0 1px $oc-gray-3;

  &:not(:disabled) {
    cursor: pointer;
  }

  &:active {
    background: $oc-gray-3;
  }

  &.link {
    box-shadow: none;

    &:active {
      background-color: var(--primary-color-light);
    }
  }

  &.solid {
    background-color: $oc-gray-3;

    &:active {
      background-color: $oc-gray-4;
    }
  }

  &.primary {
    box-shadow: inset 0 0 0 1px var(--primary-color);

    &:active {
      background-color: var(--primary-color-light);
    }
  }

  &.solid.primary {
    background-color: var(--primary-color);

    &:active:not(:disabled) {
      background-color: var(--primary-color-dark);
    }
  }
}
