.container {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  outline: none;
}

.flex {
  flex: 1;
}

.horizontal {
  flex-direction: row;
}

.hidden {
  display: none;
}

.scrollX {
  overflow-x: auto;
}

.scrollY {
  overflow-y: auto;
}

.scrollSnapX {
  scroll-snap-type: x mandatory;
}

.scrollSnapY {
  scroll-snap-type: y mandatory;
}

.border {
  box-shadow: 0 0 0 1px hsla(0, 0%, 0%, 0.05);
}

.dropShadow {
  box-shadow:
    0 3px 10px hsla(0, 0%, 0%, 0.25),
    0 0 0 1px hsla(0, 0%, 0%, 0.1);
}
