@import 'open-color';

.white {
  background-color: white;
}

.black {
  background-color: black;
}

@each $color-list, $name in $oc-color-list {
  @each $level, $color in $color-list {
    .#{$name}-#{$level} {
      background-color: $color;
    }
  }
}
