.tiny {
  border-radius: 2.5px;
}


.xsmall {
  border-radius: 5px;
}

.small {
  border-radius: 10px;
  overflow: hidden;
}

.medium {
  border-radius: 15px;
  overflow: hidden;
}

.max {
  border-radius: 10000px;
}
