.xlarge {
  padding-bottom: 30px;
}

.large {
  padding-bottom: 25px;
}

.medium {
  padding-bottom: 15px;
}

.small {
  padding-bottom: 10px;
}

.xsmall {
  padding-bottom: 5px;
}

.none {
  padding-bottom: 0;
}
