.xsmall {
  font-size: 12px;
  line-height: 18px;
  margin: -4px 0 -3px 0;
}

.small {
  font-size: 14px;
  line-height: 21px;
  margin: -4px 0 -4px 0;
}

.medium {
  font-size: 18px;
  line-height: 24px;
  margin: -5px 0 -4px 0;
}

.large {
  font-size: 24px;
  line-height: 30px;
  margin: -7px 0 -4px 0;
}

.xlarge {
  font-size: 36px;
  line-height: 54px;
  margin: -15px 0 -11px 0;
}
