.xlarge {
  padding-left: 32px;
  padding-right: 32px;
}

.large {
  padding-left: 24px;
  padding-right: 24px;
}

.medium {
  padding-left: 16px;
  padding-right: 16px;
}

.small {
  padding-left: 8px;
  padding-right: 8px;
}

.xsmall {
  padding-left: 4px;
  padding-right: 4px;
}
