.xlarge {
  padding-left: 30px;
  padding-right: 30px;
}

.large {
  padding-left: 25px;
  padding-right: 25px;
}

.medium {
  padding-left: 15px;
  padding-right: 15px;
}

.small {
  padding-left: 10px;
  padding-right: 10px;
}

.xsmall {
  padding-left: 5px;
  padding-right: 5px;
}
