.xlarge {
  padding-top: 32px;
  padding-bottom: 32px;
}

.large {
  padding-top: 24px;
  padding-bottom: 24px;
}

.medium {
  padding-top: 16px;
  padding-bottom: 16px;
}

.small {
  padding-top: 8px;
  padding-bottom: 8px;
}

.xsmall {
  padding-top: 4px;
  padding-bottom: 4px;
}
